.header__links {
    a {
        position: relative;
        margin: 0 20px;
        
        
       
        &:after {
            content: '';
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 0;
            height: 1px;
            background: white;
        }

        &.active,
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}

.header__toggle {
    i {
        display: flex;
        align-items: center;
    }
}
.header-nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    color: white;
    width: 100%;
    z-index: 100;
}

.sticky-nav {
    
    z-index: 100;
    color: black;
    background-color: rgb(247, 221, 221);
    li { 
  
    background-color: rgb(247, 221, 221);

}
a {
    position: relative;
    margin: 0 20px;
    
    &:after {
        content: '';
        transition: all 0.25s ease-in-out;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0;
        height: 2px;
        background: black;
    }
    &.active,
    &:hover {
        &:after {
            width: 100%;
        }
    }
}
}

@media only screen and (max-width: 1023px){
    .sticky-nav{
        background-color: rgba(245, 247, 247, 0.817) ;
    } li { 
        margin-top: 0px; 
       
}
}
@media only screen and (max-width: 767px) {
    .sticky-nav li { 
        margin: 0 20px;
        padding-top: 30px; 
        
}
}
// @media only screen and (max-width: 460px) {
//     .sticky-nav li { 
//         margin-top: 20px;  
//         padding-top: 50px; 
        
// }
// }
