.intro-section {
    background-image: url('../images/intro-bg.jpg');
}

.intro__info {
    background: rgba(white, 0.8);
    padding: 32px 40px 20px;
}

.experience__box1 {
    background: rgba(white, 0.8);
    padding: 32px 40px 20px;
}
.testimonials {
    height: 700px;
}